/* 

O que fazer do exercicios

cor de fundo da tag body em modo RGB valores (223, 215, 185)
*/
body {
    background-color: rgb(223, 215, 185);
}

/* cor do texto da tag body em modo RGB valores (51, 51, 51) */
body p {
    color: rgb(51, 51, 51);
}

/* cor do texto da tag h1 em modo hexadecimal, valor 0d1b97 */
h1 {
    color: #0d1b97;
}

/* cor de fundo da classe job-title em modo hexadecimal, valor 1726ad */
/* cor do texto da classe job-title em modo hexadecimal, valor 898dbe */
.job-title {
    background: #1726ad;
    color: #898dbe;
    padding: 10px;
}

/* cor do texto do identificador high em modo RGB, valores (13, 27, 151) */
#high {
    color: rgb(13, 27, 151);
}

/* cor de fundo da tag ul em modo hexadecimal, valor 333333 */
/* cor do texto da tag ul em modo RGB, valores (223, 215, 185) */
ul {
    background: #333333;
    color: rgb(223, 215, 185);
    padding: 10px;
}
.image {
    background-image: url("./img/doces.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
header .row {
    text-align: center;
}
form.form-horizontal {
    padding: 50px 0px 0px 100px;
}
legend {font-size: inherit; line-height: 30px; font-weight: 600; text-transform: uppercase; color: #555;
}
fieldset {
    border: 1px solid #dee2e6!important;
    margin-bottom: 30px!important;
    padding: 20px!Important;
}